<%- include("../parcials/adminheader.ejs")%>
  <div id="content" class="p-4 p-md-5 pt-5">
<h1>Create Post</h1>
<form action="/post" method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="text" class=" w-100" id="exampleFormControlInput1" placeholder="Enter post-title" name="title" required>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Content</label>
    <textarea class="form w-100" id="exampleFormControlTextarea1" placeholder="Enter post content" rows="3" name="content" required></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Image</label>
    <input type="file" class=" w-100" id="exampleFormControlInput1" name="image" >
  </div>
  <button type="submit" class="btn btn-primary mt-3">Create Post</button>
  <% if (typeof message !== 'undefined') { %>
    <div class="alert alert-success mt-3" role="alert">
      <%= message %>
    </div>
  <% } %>
</form>
  </div>
  <%- include("../parcials/adminfooter.ejs")%>